@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;1,500&family=Montserrat:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* INTRO SERVICIOS */
.introservicios {
    margin: 20px;
}

.introservicios img{
    display: flex;
    margin: auto;
    max-height: 18em;
    max-width: 18em;
}

.introservicios p{
    display: flex;
    margin-left: 20px;
    margin-top: 50px;
    text-align: center;
    font-weight: bolder;
}

.introservicios h2{
    width: 600px;
    display: flex;
    margin-left: 20px;
    text-align: center;
    font-weight: bolder;
}

/* SERVICIOS */


.serviciosp{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
    font-weight: 1000;
}


/* POST SERVICIOS */

.postservicios {
    display: flex;
    flex-direction: column;
}

.postservicios h5 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #1070a3;
}

.postservicios p {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 45px;
}

/* NOSOTROS */

.textocontenido {
    display: flex;
    margin: 30px;
}



/* PROMOCIONES */

.intropromociones {
    display: flex;
    justify-content: center;
}

.intropromociones p{
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.intropromociones img{
    
    display: flex;
    align-content: center;
    margin-top: 50px;
    max-width: 200px;
    max-height: 200px;
}

.promocion {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #2587be;
    font-weight: bold;
    text-decoration: underline;
}

.preciopromocion {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.infopromocion {
    display: flex;
    text-align: center;
    justify-content: center;

}

.textopostpromocion {
    display: flex;
    justify-content: center;
    text-align: center;
}








footer{
    bottom: 0;
    position: sticky;
}












@media (max-width: 378px){
    .introservicios img{
        display: flex;
        margin: auto;
        width: 100%;
    }

}


@media (min-width: 576px){
    
    .introservicios {
        display: flex;
        flex-direction: row;
        margin: 50px;
    }  
    

}

@media (min-width: 1024px){
    .conteiner-servicios {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;    
    }

   
    
    
@media (max-width: 576px){
    .contenedornosotros {
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
    }


}

.carousel-inner> .item> img {
 width: : 640px; 
 height: : 360px; 
}




