@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;1,500&family=Montserrat:wght@300;700&display=swap');

//fonts

$mainFont: 'Montserrat', 'Barlow';

//tamaños letras

$textSm: 0.7em;
$textMd: 1em;
$textLg: 1.5em;
$textXl: 3em;
